<!doctype html>
<html lang="en">
<head>
  <title>File Upload</title>
</head>
<body>
  <h1>Upload a File</h1>
  <form method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Upload">
  </form>

  <!-- Progress bar -->
  <div>
      <progress id="progressBar" value="0" max="100"></progress>
  </div>

  <!-- Include Socket.IO JavaScript -->
  <script src="https://cdn.socket.io/3.0.3/socket.io.min.js"></script>
  <script>
      document.addEventListener('DOMContentLoaded', (event) => {
          var socket = io.connect('http://' + document.domain + ':' + location.port);

          socket.on('progress', function(data) {
              document.getElementById('progressBar').value = data.progress;
          });
      });
  </script>
</body>
</html>

